:root {
    --color-title-border: #41F6D7;
    --color-cm-border: #B8FFEC;
    --color-cm-text: #7E7E82;
    --color-bg: #F8F8F8;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Lakes';
}

body {
    background-color: var(--color-bg);


}

.header__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-title-border);
}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1120px;

}

.icon {
    all: unset;
}

.title::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: var(--color-title-border);
    left: -22px;
    border-radius: 2px;
}

.title {
    position: relative;
    margin-bottom: 20px;
}

.nav {
    margin-bottom: 20px;
}

.nav__list {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
}

.nav__item {
    display: flex;
    text-decoration: none;
    color: var(--color-cm-text);
}

.nav__item:hover {
    outline: 1px solid var(--color-title-border);
}

.img {
    width: 285px !important;
}

.see-more_btn {
    font-size: 18px;
    height: 40px;
    background: none;
    background-color: none;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more_btn:hover {
    cursor: pointer;
}

    @media (min-width: 768px) {
        body {
            background-color: beige;
        }
}

@media (min-width: 1120px) {
        body {
            background-color: aqua;
        }
}
